<p id="notice"><%= notice %></p>

<p>
  <b>Skill type:</b>
  <%= @topic.skill_type %>
</p>

<p>
  <b>Skill:</b>
  <%= @topic.skill %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
